<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  
  <parameter name="os" value="Windows" />
  <parameter name="browser" value="Chrome"/>
    <classes>
    
    <!--Kindly comment the below test cases you do not want to execute-->
     <class name="testCase.TC001_LoginTest"/>
     <class name="testCase.TC002_ProductCheckOutTest"/>
     <class name="testCase.TC003_NonFunctionalTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
